*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg_color{
    background-color: #673AB7;
  }
  
  .nav_color {
      font-weight: 600;
  }
  #nav_bar {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1111;
  }
  .btn_sub{
    padding: 2px 20px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: #673AB7;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 600;
  }